.main {
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
        width: 1280px;
        margin: 30px 0;
        padding: 20px;
        background: #ffffff;
        box-shadow: 0px 0px 5px 3px #B5B5B5;
        border-radius: 5px;
    }
}

a {
    color: #000000;
}